.countries {
  display: flex;
  font-family: sans-serif;
}

/* Add your own CSS code below */

.countries--first {
  flex-direction: row;
  align-items: center;
}

.countries--second {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.countries--third {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.countries--fourth {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
}
