/* Try different box model properties below */

.site-header p {
  color: white;
  margin-bottom: none;
}

.message__content {
  margin-bottom: none;
}

.site-footer p {
  font-size: 12px;
  text-align: center;
}

.messages .message.message--unread:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
